.top {
    padding-top: 56px;
    height: calc(100vh - 72px);

    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 3.5rem;
        height: 100%;
    }
}